#m1 {
  float: left;
  text-align: center;
  color: white;
  min-height: 300px;
  width: 100%;
  background-color: black;
}
body {
  font-family: bebas-neue, sans-serif;
  letter-spacing: 0.1em;
  background-color: black;
}
#menu {
  text-align: center;
}
.link-one {
  color: violet;
  text-decoration: none;
}
