body {
  font-family: bebas-neue, sans-serif;
  letter-spacing: 0.1em;
  background-color: black;
}
ul {
  list-style: none;
}
#LOGIN {
  text-align: center;
  float: left;
  color: white;
  position: absolute;
  top: 72px;
  right: 46px;
}
#test {
  text-align: center;
  float: left;
  background-color: violet;
  color: black;
  width: 100%;
  height: 450px;
}
.baner {
  float: left;
  text-align: center;
  background-color: gray;
  color: violet;
  min-height: 200px;
  width: 100%;
  background-image: url("./images/M1.jpg");
  background-size: 100%;
  background-position: center;
}
.main-header {
  text-align: center;
  margin-top: 72px;
  position: relative;
}
#lewy {
  float: left;
  color: white;
  min-height: 700px;
  width: 65%;
  text-align: center;
}
.lewy {
  background-color: gray;
}

#prawy {
  float: left;
  background-color: violet;
  color: black;
  min-height: 700px;
  width: 35%;
  text-align: center;
}
#srodek {
  clear: both;
  text-align: center;
  background-color: gray;
  background-image: linear-gradient(169deg, #696969 40%, #c0c0c0 50%);
  min-height: 50px;
  width: 100%;
}
#stopka {
  background-color: black;
  color: white;
  clear: both;
  text-align: center;
}
.link-wikipedia {
  color: rgb(63, 3, 63);
  text-decoration: none;
  font-size: 25px;
}
.link-wikipedia:hover {
  color: #8a4979;
}
